## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [2]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("../weather_database/weatherpy_database.csv")
city_data_df.head()

,Unnamed: 0,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date,Description
0,0,Rikitea,-23.1203,-134.9692,79.18,65,27,8.81,PF,2022-03-28 00:03:35,scattered clouds
1,1,Kodiak,57.7900,-152.4072,33.31,100,100,31.07,US,2022-03-28 00:03:36,heavy snow
2,2,Yakymivka,46.6897,35.1536,31.28,56,27,8.37,UA,2022-03-28 00:03:36,scattered clouds
3,3,Dikson,73.5069,80.5464,-18.04,100,26,3.71,RU,2022-03-28 00:03:37,scattered clouds
4,4,Jamestown,42.0970,-79.2353,20.01,61,100,13.80,US,2022-03-27 23:59:03,overcast clouds

In [3]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 60
What is the maximum temperature you would like for your trip? 90

In [4]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.

preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
print(preferred_cities_df)

     Unnamed: 0            City      Lat       Lng  Max Temp  Humidity  \
0             0         Rikitea -23.1203 -134.9692     79.18        65
5             5  Cabo San Lucas  22.8909 -109.9124     86.61        21
6             6          Hobart -42.8794  147.3294     63.27        82
7             7     East London -33.0153   27.9116     70.32        83
8             8          Noumea -22.2763  166.4572     84.18        99
..          ...             ...      ...       ...       ...       ...
683         683         Codajas  -3.8367  -62.0569     75.11        98
684         684          Yabelo   4.8833   38.0833     65.53        53
685         685     Santa Maria -29.6842  -53.8069     63.70        88
686         686   Murray Bridge -35.1167  139.2667     74.82        54
687         687   San Cristobal   7.7669  -72.2250     71.78        86

     Cloudiness  Wind Speed Country                 Date       Description
0            27        8.81      PF  2022-03-28 00:03:35  scattered clouds
5            40        0.00      MX  2022-03-28 00:03:16  scattered clouds
6            98        3.15      AU  2022-03-28 00:03:38        light rain
7            80       19.71      ZA  2022-03-28 00:03:38     broken clouds
8            26       12.97      NC  2022-03-28 00:03:39  scattered clouds
..          ...         ...     ...                  ...               ...
683          90        1.97      BR  2022-03-28 00:23:54        light rain
684          70        6.76      ET  2022-03-28 00:24:54     broken clouds
685           0        2.30      BR  2022-03-28 00:21:49         clear sky
686          41        8.03      AU  2022-03-28 00:24:14  scattered clouds
687          86        2.68      VE  2022-03-28 00:24:55   overcast clouds

[356 rows x 11 columns]

In [5]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.isnull().sum()

Unnamed: 0     0
City           0
Lat            0
Lng            0
Max Temp       0
Humidity       0
Cloudiness     0
Wind Speed     0
Country        4
Date           0
Description    0
dtype: int64

In [6]:
print(preferred_cities_df)

     Unnamed: 0            City      Lat       Lng  Max Temp  Humidity  \
0             0         Rikitea -23.1203 -134.9692     79.18        65
5             5  Cabo San Lucas  22.8909 -109.9124     86.61        21
6             6          Hobart -42.8794  147.3294     63.27        82
7             7     East London -33.0153   27.9116     70.32        83
8             8          Noumea -22.2763  166.4572     84.18        99
..          ...             ...      ...       ...       ...       ...
683         683         Codajas  -3.8367  -62.0569     75.11        98
684         684          Yabelo   4.8833   38.0833     65.53        53
685         685     Santa Maria -29.6842  -53.8069     63.70        88
686         686   Murray Bridge -35.1167  139.2667     74.82        54
687         687   San Cristobal   7.7669  -72.2250     71.78        86

     Cloudiness  Wind Speed Country                 Date       Description
0            27        8.81      PF  2022-03-28 00:03:35  scattered clouds
5            40        0.00      MX  2022-03-28 00:03:16  scattered clouds
6            98        3.15      AU  2022-03-28 00:03:38        light rain
7            80       19.71      ZA  2022-03-28 00:03:38     broken clouds
8            26       12.97      NC  2022-03-28 00:03:39  scattered clouds
..          ...         ...     ...                  ...               ...
683          90        1.97      BR  2022-03-28 00:23:54        light rain
684          70        6.76      ET  2022-03-28 00:24:54     broken clouds
685           0        2.30      BR  2022-03-28 00:21:49         clear sky
686          41        8.03      AU  2022-03-28 00:24:14  scattered clouds
687          86        2.68      VE  2022-03-28 00:24:55   overcast clouds

[356 rows x 11 columns]

In [7]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_df = preferred_cities_df.dropna(inplace=False)
print(clean_df)

     Unnamed: 0            City      Lat       Lng  Max Temp  Humidity  \
0             0         Rikitea -23.1203 -134.9692     79.18        65
5             5  Cabo San Lucas  22.8909 -109.9124     86.61        21
6             6          Hobart -42.8794  147.3294     63.27        82
7             7     East London -33.0153   27.9116     70.32        83
8             8          Noumea -22.2763  166.4572     84.18        99
..          ...             ...      ...       ...       ...       ...
683         683         Codajas  -3.8367  -62.0569     75.11        98
684         684          Yabelo   4.8833   38.0833     65.53        53
685         685     Santa Maria -29.6842  -53.8069     63.70        88
686         686   Murray Bridge -35.1167  139.2667     74.82        54
687         687   San Cristobal   7.7669  -72.2250     71.78        86

     Cloudiness  Wind Speed Country                 Date       Description
0            27        8.81      PF  2022-03-28 00:03:35  scattered clouds
5            40        0.00      MX  2022-03-28 00:03:16  scattered clouds
6            98        3.15      AU  2022-03-28 00:03:38        light rain
7            80       19.71      ZA  2022-03-28 00:03:38     broken clouds
8            26       12.97      NC  2022-03-28 00:03:39  scattered clouds
..          ...         ...     ...                  ...               ...
683          90        1.97      BR  2022-03-28 00:23:54        light rain
684          70        6.76      ET  2022-03-28 00:24:54     broken clouds
685           0        2.30      BR  2022-03-28 00:21:49         clear sky
686          41        8.03      AU  2022-03-28 00:24:14  scattered clouds
687          86        2.68      VE  2022-03-28 00:24:55   overcast clouds

[352 rows x 11 columns]

In [8]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Description", "Lat", "Lng"]].copy()
print(hotel_df)
# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

               City Country  Max Temp       Description      Lat       Lng
0           Rikitea      PF     79.18  scattered clouds -23.1203 -134.9692
5    Cabo San Lucas      MX     86.61  scattered clouds  22.8909 -109.9124
6            Hobart      AU     63.27        light rain -42.8794  147.3294
7       East London      ZA     70.32     broken clouds -33.0153   27.9116
8            Noumea      NC     84.18  scattered clouds -22.2763  166.4572
..              ...     ...       ...               ...      ...       ...
683         Codajas      BR     75.11        light rain  -3.8367  -62.0569
684          Yabelo      ET     65.53     broken clouds   4.8833   38.0833
685     Santa Maria      BR     63.70         clear sky -29.6842  -53.8069
686   Murray Bridge      AU     74.82  scattered clouds -35.1167  139.2667
687   San Cristobal      VE     71.78   overcast clouds   7.7669  -72.2250

[352 rows x 6 columns]

,City,Country,Max Temp,Description,Lat,Lng,Hotel Name
0,Rikitea,PF,79.18,scattered clouds,-23.1203,-134.9692,
5,Cabo San Lucas,MX,86.61,scattered clouds,22.8909,-109.9124,
6,Hobart,AU,63.27,light rain,-42.8794,147.3294,
7,East London,ZA,70.32,broken clouds,-33.0153,27.9116,
8,Noumea,NC,84.18,scattered clouds,-22.2763,166.4572,
9,Ikungi,TZ,61.99,scattered clouds,-5.1333,34.7667,
10,Cape Town,ZA,68.11,scattered clouds,-33.9258,18.4232,
11,Marzuq,YE,64.22,clear sky,14.4000,46.4667,
12,Carauari,BR,73.49,very heavy rain,-4.8828,-66.8958,
13,Sao Joao Da Barra,BR,77.74,clear sky,-21.6403,-41.0511,

In [9]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    params["location"]= str(lat)+','+str(lng)
    #print(params)
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
   
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index,"Hotel Name"]=hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

print(hotel_df)

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
               City Country  Max Temp       Description      Lat       Lng  \
0           Rikitea      PF     79.18  scattered clouds -23.1203 -134.9692
5    Cabo San Lucas      MX     86.61  scattered clouds  22.8909 -109.9124
6            Hobart      AU     63.27        light rain -42.8794  147.3294
7       East London      ZA     70.32     broken clouds -33.0153   27.9116
8            Noumea      NC     84.18  scattered clouds -22.2763  166.4572
..              ...     ...       ...               ...      ...       ...
683         Codajas      BR     75.11        light rain  -3.8367  -62.0569
684          Yabelo      ET     65.53     broken clouds   4.8833   38.0833
685     Santa Maria      BR     63.70         clear sky -29.6842  -53.8069
686   Murray Bridge      AU     74.82  scattered clouds -35.1167  139.2667
687   San Cristobal      VE     71.78   overcast clouds   7.7669  -72.2250

                                Hotel Name
0                          People ThankYou
5                   Hotel Tesoro Los Cabos
6    St Ives Hobart Accommodation Tasmania
7                                  Tu Casa
8                           Hôtel Le Lagon
..                                     ...
683                         Atlântic Hotel
684                     Asnakech W/michael
685                          Hotel Morotin
686                 Balcony On Sixth Lodge
687                               Pirineos

[352 rows x 7 columns]

In [14]:
# 7. Drop the rows where there is no Hotel Name.
hotel_df2= hotel_df.dropna(inplace=False)
hotel_df2

,City,Country,Max Temp,Description,Lat,Lng,Hotel Name
0,Rikitea,PF,79.18,scattered clouds,-23.1203,-134.9692,People ThankYou
5,Cabo San Lucas,MX,86.61,scattered clouds,22.8909,-109.9124,Hotel Tesoro Los Cabos
6,Hobart,AU,63.27,light rain,-42.8794,147.3294,St Ives Hobart Accommodation Tasmania
7,East London,ZA,70.32,broken clouds,-33.0153,27.9116,Tu Casa
8,Noumea,NC,84.18,scattered clouds,-22.2763,166.4572,Hôtel Le Lagon
...,...,...,...,...,...,...,...
683,Codajas,BR,75.11,light rain,-3.8367,-62.0569,Atlântic Hotel
684,Yabelo,ET,65.53,broken clouds,4.8833,38.0833,Asnakech W/michael
685,Santa Maria,BR,63.70,clear sky,-29.6842,-53.8069,Hotel Morotin
686,Murray Bridge,AU,74.82,scattered clouds,-35.1167,139.2667,Balcony On Sixth Lodge
687,San Cristobal,VE,71.78,overcast clouds,7.7669,-72.2250,Pirineos

In [15]:
# 8a. Create the output File (CSV)
output_data_file = "WeatherPy_vacation.csv"

# 8b. Export the City_Data into a csv
hotel_df2.to_csv(output_data_file)

In [16]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Description</dt><dd>{Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df2.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = hotel_df2[["Lat", "Lng"]]

In [18]:
locations = hotel_df2[["Lat", "Lng"]]
max_temp = hotel_df2["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# 11a. Add a marker layer for each city to the map. 
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))